nav { /*Para el menú principal*/
    background-color: beige;
    padding: 16px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li a {
    text-decoration: none;
}
div.hero {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    margin: auto;
    height: 200px;
}
body {
    margin: auto;
    text-align: center;
    min-height: 100vh;
    width: 80%;
    margin-bottom: 20px;
}
div.hero, main {
    text-align: center;
}
main {
    display: flex;
    width: 100%;
    gap: 10px;
    /* text-align: center;
    justify-content: center;
    align-items: center; */
}
main div {
    height: 100px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px auto;
}
footer {
    width: 100%;
    text-align: center;
}

div.hero, main div, footer {
    border: 1px solid gray;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}